.card-note{
  width: 800px;
  height: 600px;
  padding: 20px;
  background-color: var(--card-color);
  font-family: "Manrope", sans-serif;
  border-radius: 24px;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);

  overflow: hidden;
}
textarea{
  font-family: "Manrope", sans-serif;
  border: none;
  resize: none;
}