.modal-container {
  display: flex;
  flex-direction: column;
  height: 530px;
  padding: 15px;
  background-color: var(--card-color);
  font-family: "Manrope", sans-serif;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  input,
  textarea {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-family: inherit;
    resize: none;
  }
  .modal-header,
  .modal-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    height: 45px;
  }

  .modal-content {
    overflow: auto;
    overflow-y: auto;

    .note-title {
      height: 52px;
      font-size: 34px;
      font-weight: bold;
      margin-bottom: 14px;
      color: var(--card-title-color);

      &::placeholder {
        color: rgba(0, 0, 0, 0.3);
      }
    }
    .note-text {
      height: 330px;
      font-size: 18px;
      line-height: 1.6;
      color: var(--card-text-color);

      &::placeholder {
        color: rgba(0, 0, 0, 0.3);
      }
    }
  }

  button{
    height: 30px;
    margin-right: 15px;
  }
  .cancelar-btn{
    background: transparent;
    color: var(--btn-light-grey);
    font-weight: 500;
    border: none;
    cursor: pointer;
  }
  .salvar-btn{
    //background-color: var(--cor-escolhida-pelo-usuario);
    background-color: var(--optional-color-teal);
    color: var(--card-color);
    border-radius: 8px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s;
    
    padding: 0 20px;
  }

}
