.new-card-note {
  width: 800px;
  height: 600px;
  padding: 20px;
  background-color: var(--card-color);
  font-family: "Manrope", sans-serif;
  border-radius: 24px;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);

  overflow: hidden;

  display: flex;
  flex-direction: column;

  #note-title{
    border: none;
    font-family: "Manrope", sans-serif;
    width: 100%;
    height: 54px;
    font-size: 34px;
    font-weight: bold;

  }
  textarea {
    font-family: "Manrope", sans-serif;
    border: none;
    resize: none;
    width: 100%;
    height: 380px;
    font-size: 18px;
    line-height: 1.6;
  }
}
