<section class="modal-container">
  <header class="modal-header">
    <button class="sair-btn" (click)="sair()" >Sair</button>
    <button class="salvar-btn" (click)="salvarNota()" [disabled]="form.invalid" [style.--card-color]="" >Salvar Nota</button>
  </header>
  <main class="modal-content">
    <form [formGroup]="form">
      <input
        type="text"
        name="note-title"
        class="note-title"
        placeholder="Novo titulo"
        formControlName="titulo"
      />

      <textarea
        name="note-text"
        class="note-text"
        placeholder="Digite seus pensamentos..."
        formControlName="conteudo"
      >
      </textarea>
    </form>
  </main>
  <footer class="modal-footer">
    <p-button class="limpar-btn" (onClick)="deletarNota()" icon="pi pi-trash" [rounded]="true" [text]="true" />
  </footer>
</section>
