.modal-container {
  display: flex;
  flex-direction: column;
  height: 530px;
  //padding: 15px;
  background-color: var(--card-color);
  font-family: "Manrope", sans-serif;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  input,
  textarea {
    padding: 0 35px;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-family: inherit;
    resize: none;
  }

  .modal-header,
  .modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    padding: 0 40px ;
    height: 70px;
  }

  .modal-header{
    border-bottom: 1px solid color-mix(in srgb, var(--btn-light-grey), transparent 80%);
  }
  .modal-footer{
    background-color: var(--optional-color-teal);
  }

  .modal-content {
    overflow: auto;
    overflow-y: auto;

    .note-title {
      height: auto;
      font-size: 34px;
      font-weight: bold;
      margin-top: 20px;
      color: var(--card-title-color);

      &::placeholder {
        color: rgba(0, 0, 0, 0.3);
      }
    }
    .note-text {
      height: 313px;
      font-size: 18px;
      line-height: 1.6;
      margin-top: 15px;
      color: var(--card-text-color);

      &::placeholder {
        color: rgba(0, 0, 0, 0.3);
      }
    }
  }

  button {
    height: 30px;
    //margin-right: 35px;
  }
  .sair-btn {
    background: transparent;
    color: var(--card-color);
    font-weight: 500;
    background-color: var(--optional-color-teal);
    border-radius: 8px;
    border: none;
    width: 73px;
    cursor: pointer;
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.1);
    //margin-left: 5px;

  }
  .salvar-btn {
    //background-color: var(--cor-escolhida-pelo-usuario);
    background-color: var(--optional-color-teal);
    color: var(--card-color);
    border-radius: 8px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s;
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
  }
  .trash-btn ::ng-deep .p-button-icon{
    color: var(--card-color);
  }
::ng-deep .p-button.p-button-icon-only {
    width: auto !important;   
    height: auto !important;  
    padding: 0.5rem;          
    min-width: 0;       
}
}
