<section class="modal-container">
  <header class="modal-header">
    <button (click)="cancelar()">Cancelar</button>
    <button (click)="salvarNota()" [disabled]="form.invalid">Salvar nota</button>
  </header>
  <main class="modal-content">
    <form [formGroup]="form">
      <input
        type="text"
        name="note-title"
        id="note-title"
        placeholder="Novo titulo"
        formControlName="titulo"
      />

      <textarea
        name="note-text"
        id="note-text"
        placeholder="Digite seus pensamentos..."
        formControlName="conteudo"
      >
      </textarea>
    </form>
  </main>
  <footer class="modal-footer">
    <p-button icon="pi pi-trash" [rounded]="true" [text]="true" />
  </footer>
</section>
