.modal-container {
  height: 530px;
  padding: 20px;
  background-color: var(--card-color);
  font-family: "Manrope", sans-serif;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);

  overflow: hidden;

  display: flex;
  flex-direction: column;

  #note-title{
    border: none;
    font-family: "Manrope", sans-serif;
    width: 100%;
    height: 54px;
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 16px;
    color: var(--card-title-color);
    outline: none;
  }
  textarea {
    font-family: "Manrope", sans-serif;
    border: none;
    resize: none;
    width: 100%;
    height: 350px;
    font-size: 18px;
    line-height: 1.6;
    color: var(--card-text-color);
    outline: none;
  }

  .modal-content{
    overflow: auto;
    overflow-y: auto;
  }
  .modal-header, .modal-footer{
    flex-shrink: 0;
    height: 30px;
  }
}
