header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  border-bottom: 1.4px solid
    color-mix(in srgb, var(--secondary-text-color), transparent 70%);

  .div-logo-Mind-Sparrow {
    margin-left: 80px;
    .logo-Mind-Sparrow {
      height: 40px;
    }
  }
  .div-add-new-note {
    margin-right: 80px;
  }

  .new-note-btn {
    padding: 10px 20px;
    background-color: var(--primary-theme-color);
    color: var(--card-color);
    border-radius: 8px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s;
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.1);
  }
}
main {
  .main__theme-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 55px;
    margin: auto;
    padding: 0 24px;
    margin-top: 24px;
    border-radius: 16px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    background-color: var(--card-color);

    .main__theme-title{
      span {
        text-transform: uppercase;
        font-weight: 500;
        color: var(--secondary-text-color);
      }

      i{
        margin-right: 10px;
      }
    }

    .main__theme__colors-btn {
      display: flex;
      gap: 13px;
      .main__theme__colors-btn__settings {
        height: 28px;
        width: 28px;
        border-radius: 50%;
        border: none;

        &:hover {
          transform: scale(1.1);
        }

        &.color-teal {
          background-color: var(--optional-color-teal);
        }
        &.color-rosa {
          background-color: var(--optional-color-rosa);
        }
        &.color-purple {
          background-color: var(--optional-color-purple);
        }
        &.color-blue {
          background-color: var(--optional-color-blue);
        }
        &.color-green {
          background-color: var(--optional-color-green);
        }
        &.color-orange {
          background-color: var(--optional-color-orange);
        }
      }
    }
  }
}
