header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  border-bottom: 1.4px solid color-mix(in srgb, var(--secondary-text-color), transparent 70%);
  
  .div-logo-Mind-Sparrow{
    margin-left: 80px;
    .logo-Mind-Sparrow{
      height: 40px;
    }
  }
  .div-add-new-note{
    margin-right: 80px;
  }
  
  .new-note-btn {
    padding: 10px 20px;
    background-color: var(--optional-color-teal);
    color: var(--card-color);
    border-radius: 8px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s;
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.1);
  }
}
main{

  .main__theme-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 55px;
    margin: auto;
    padding: 0 24px;
    margin-top: 24px;
    border-radius: 16px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    background-color: var(--card-color);

    span{
      text-transform: uppercase;
      font-weight: 500;
      color: var(--secondary-text-color);
    }
    
  }
}