.new-note-btn {
  margin: 30px;
  padding: 10px 20px;
  background-color: var(--optional-color-teal);
  color: var(--card-color);
  border-radius: 8px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s;
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.1);
}
