<section class="note-list__grid-card">
  @for (nota of notas$ | async; track nota.id) {
    <div class="note-list__card-item">

      <div class="note-list__text-section" (click)="selecionarNota(nota)">
        <h3>{{ nota.title !== "" ? nota.title : "Sem titulo" }}</h3>
        <p>{{ nota.conteudo }}</p>
        <p class="nota-data">{{ nota.dataCriacao | date: 'dd MMM'}}</p>
      </div>

      <div class="note-list__delete-button">
        <p-button  [text]="true" icon="pi pi-trash" />
      </div>

    </div>
  }
</section>
