.note-list__grid-card {
  margin: 40px 95px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: start;
  //gap: 45px;
  row-gap: 40px;
  column-gap: 35px;

  .note-list__card-item {
    min-width: 230px;
    min-height: 200px;
    padding: 24px;
    border-radius: 16px;
    //box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.03);
    background-color: var(---card-color);
  }

  .note-list__delete-button{
    background-color: var(--optional-color-teal);
  }
}
