.note-list__grid-card {
  margin: 40px 45px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: start;
  gap: 24px;

  .note-list__card-item {
    width: 280px;
    min-height: 200px;
    padding: 24px;
    border-radius: 16px;
    //box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.03);
    background-color: var(--card-color);
  }
}
