.note-list__grid-card {
  margin: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: start;
  gap: 24px;

  .note-list__card-item {
    background-color: var(--card-color);
  }
}
