@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monrope:wght@400;500;600;700&amp;display=swap');
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
:root{
  --bg-color: #F5F7F8;
  --card-color: #FFFFFF;
  --optional-color-teal: #48998C;
  --optional-color-rosa: #E91E63;
  --optional-color-purple: #9C27B0;
  --optional-color-blue: #2196F3;
  --optional-color-green: #4CAF50;
  --optional-color-orange: #FF9800;
  --card-title-color:#1A1C1E;
  --card-text-color: #4A4A4A;
  --btn-light-grey: #757575;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
}
app-root.dark-mode{
  --bg-color: #1A1C1E;
  --card-color: #2D2F31;
}
.p-component-overlay{
  backdrop-filter: blur(7px);
}